<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction History</title>
</head>
<body>

<a href="/add">Enter Transaction</a><br />

<br />
<table>
    <tr>
        <th>Account<br />Number</th>
        <th>Transaction<br />Type</th>
        <th>Transaction<br />Amount</th>
        <th>Transaction<br />Reason</th>
        <th>Edit<br />Transaction</th>
        <th>View<br />Account</th>
    </tr>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.accountNumber}"></td>
        <td th:text="${transaction.action}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.reason}"></td>
        <td>
<!--       <a th:href="@{/update/{id}(id=${transaction.id})}">Update</a> -->
            <a th:href="@{/delete/{id}(id=${transaction.id})}">Delete</a>
        </td>
        <td>
            <a th:href="@{/detail/{acct}(acct=${transaction.accountNumber})}">Account</a>
        </td>

    </tr>
</table>
</body>
</html>