<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
</head>
<body>
<form action="#"
      th:action="@{/process}"
      th:object="${transaction}"
      method="post">
    <input type ="hidden" th:field="*{id}" />

    Account:&nbsp;<input type ="text" th:field="*{accountNumber}" />
    <span th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}"></span><br /><br />

    Select Transaction Type:&nbsp;
    <select th:field="*{action}">
        <option th:value="deposit" th:text="Deposit"></option>
        <option th:value="withdrawal" th:text="Withdrawal"></option>
    </select>
    <br /><br />

    Amount:&nbsp;<input type="text" th:field="*{amount}" />
    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span><br /><br />

    Reason:&nbsp;<textarea rows="3" th:field="*{reason}" />
    <span th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}"></span><br /><br />

    <br />
    <input type="submit" value="Submit" />
</form>

</body>
</html>